@(message: String, positionForm:Form[Position])

@import helper.twitterBootstrap._

@main("Traflic") {
  <script src="http://openlayers.org/api/OpenLayers.js"></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/proj4-compressed.js")'></script>
  <!--<script type='text/javascript' src='@routes.Assets.at("javascripts/OpenLayers.debug.js")'></script>-->

  <div class="row-fluid">
    <div class="span3">
      <form id="position" action="#">
        <input type="hidden" name="crs" value="EPSG:31370"/>
        @helper.inputText(positionForm("lat"))
        @helper.inputText(positionForm("lon"))
        <input type="submit" name="go" value="go"/>
      </form>
      <div i="legend">
        <ul>
          <li><img src="http://maps.google.com/mapfiles/marker_blackV.png">&nbsp;Moi</li>
          <li><img src="http://www.openlayers.org/dev/img/marker.png">&nbsp;Caméra</li>
          <li><img src="http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange-dot.png">&nbsp;Congestion (ou chantier)</li>
          <li><img src="http://maps.google.com/intl/en_us/mapfiles/ms/micons/green-dot.png">&nbsp;Panneaux</li>
        </ul>
      </div>
      <div id="msg">
      </div>
    </div>
    <div class="span9">
      <div id="map"></div>
    </div>
  </div>


  <!--<button id="getMessageButton">Get JSON Message</button>-->
  <script type='text/javascript' src='@routes.Assets.at("javascripts/utils.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/map.js")'></script>
  <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

}